/* CSS */
/* Main Primary color. */
.color-primary-0 {
  color: #933157;
}
.color-primary-1 {
  color: #dc93af;
}
.color-primary-2 {
  color: #b85c7f;
}
.color-primary-3 {
  color: #6e1236;
}
.color-primary-4 {
  color: #49001c;
}
/* Main Secondary color (1) */
.color-secondary-1-0 {
  color: #aa5039;
}
.color-secondary-1-1 {
  color: #ffbcaa;
}
.color-secondary-1-2 {
  color: #d4806a;
}
.color-secondary-1-3 {
  color: #802b15;
}
.color-secondary-1-4 {
  color: #551200;
}
/* Main Secondary color (2) */
.color-secondary-2-0 {
  color: #652770;
}
.color-secondary-2-1 {
  color: #a071a8;
}
.color-secondary-2-2 {
  color: #82478c;
}
.color-secondary-2-3 {
  color: #4a1054;
}
.color-secondary-2-4 {
  color: #300138;
}

* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f5f5f5;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 3em 1.5em;

  background: url("../img/Fondo HTML 5.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  padding-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo img {
  width: 200px;
  height: 200px;
  margin-right: 10px;
}

.logo h1 {
  font-family: "Delicious Handrawn", cursive;
  font-size: 4em;
  padding-left: 0.5em;
  color: black;
}

main {
  padding-top: 20px;
  padding-bottom: 20px;
}

.banner {
  background-color: #e8daef;
  color: black;
  padding: 50px;
  text-align: center;
}

.banner h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.banner h3 {
  color: #8e44ad;
  font-family: "Delicious Handrawn", cursive;
  font-weight: 900;
  font-size: 33px;
  margin-bottom: 20px;
}

.banner p {
  font-size: 18px;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #dda0dd;
  color: black;
  border-radius: 5px;
  text-decoration: none;
}

.btn:hover {
  background-color: #8e44ad;
  color: white;
}

.productos {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.producto {
  flex-basis: calc(33.33% - 20px);
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.producto img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.producto h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.producto p {
  font-size: 16px;
  margin-bottom: 10px;
}

.producto .btn {
  align-self: flex-start;
}
.nosotros {
  background-color: #e8daef;
  color: black;
  padding: 50px;
  text-align: center;
}

.nosotros h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.nosotros p {
  font-size: 18px;
  margin-bottom: 20px;
}

footer {
  height: auto;
  width: 100%;
  padding-top: 20px;
  background-color: #300138;
  color: #a071a8;
}

.footer-contenido h3 {
  font-size: 2.1rem;
  font-weight: 500;
  line-height: 3rem;
}

.footer-contenido {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-contenido p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #a071a8;
}

.redes {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.redes li {
  margin: 0 10px;
}
.redes a {
  text-decoration: none;
  color: #a071a8;
  border: 1.1px solid #a071a8;
  padding: 5px;
  border-radius: 50%;
}
.redes a i {
  font-size: 1.1rem;
  width: 20px;
  transition: color 0.4s ease, transform 0.4s;
}
.redes a:hover i {
  color: #49001c;
  transform: rotate(360deg);
}

.filosofia {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  margin-top: 10px;
}

.feature {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: stretch;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  gap: 5px;
  margin-bottom: 20px;
}

.feature:nth-child(odd) {
  flex-direction: row;
}

.feature:nth-child(even) {
  flex-direction: row-reverse;
}

.item-f:nth-child(1) {
  display: flex;
/*    flex-grow: 1;
  flex-shrink: 2;  */
  flex-basis: 10%;
  align-self: auto;
  order: 0;
}

.item-f:nth-child(2) {
  display: flex;
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 15%;
  align-self: center;
  order: 0;
  margin-left: 25px;
  margin-right: 25px;
}

.item-f:nth-child(3) {
  display: flex;
  flex-grow: 10;
  flex-shrink: 1;
  flex-basis: 10%;
  align-self: center;
  order: 0;
}

.feature img {
  width: 150px;
  height: auto;
}

.feature h3 {
  font-size: 2em;
}
.feature p {
  font-style: italic;
  font-weight: 700;
  text-align: justify;
}
.item-f img {
  transition: transform 0.4s;
}

.item-f img:hover {
  transform: scale(0.8);
}

/*INICIO: Para seccion Nuestro Equipo*/
.MaitriTeam {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  margin-top: 10px;
}

.Empleado {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  flex-wrap: wrap;
  align-content: stretch;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  gap: 5px;
  margin-bottom: 20px;
}

.Empleado:nth-child(odd) {
  flex-direction: row;
}

.Empleado:nth-child(even) {
  flex-direction: row-reverse;
}

.item-e:nth-child(1) {
  display: flex;
  flex-grow: 1;
  flex-shrink: 2;
  flex-basis: 10%;
  align-self: auto;
  order: 0;
}

.item-e:nth-child(2) {
  display: flex;
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 15%;
  align-self: center;
  order: 0;
  margin-left: 25px;
  margin-right: 25px;
}

.item-e:nth-child(3) {
  display: flex;
  flex-grow: 3;
  flex-shrink: 1;
  flex-basis: 60%;
  align-self: center;
  order: 0;
}

.Empleado img {
  width: 150px;
  height: auto;
}

.Empleado h3 {
  font-size: 2em;
}
.Empleado p {
  font-style: italic;
  font-weight: 700;
  text-align: justify;
}
.item-e img {
  transition: transform 0.4s;
}

.item-e img:hover {
  transform: scale(0.8);
}
/*FIN: Para seccion Nuestro Equipo*/

/*Estilos del formulario */

/* reset */
#cto_frm input,
#cto_frm select,
#cto_frm textarea,
#cto_frm fieldset,
#cto_frm label,
#cto_frm {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
}

#cto_frm {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#cto_frm label,
#cto_frm legend,
#cto_frm ::placeholder {
  font-size: 0.825rem;
  margin-bottom: 0.5rem;
  padding-top: 0.2rem;
  display: flex;
  align-items: baseline;
}
#cto_frm input,
#cto_frm select,
#cto_frm textarea,
#cto_frm {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0.75em 1rem;
  margin-bottom: 1.5rem;
}

#cto_frm input:focus,
#cto_frm select:focus,
#cto_frm textarea:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}
#cto_frm [type="text"],
#cto_frm [type="email"] {
  width: 100%;
}

#cto_frm [type="submit"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  background-color: #dda0dd;
  color: blank;
  border-radius: 5px;
  margin-bottom: 0;
}

#cto_frm [type="submit"]:hover,
#cto_frm [type="submit"]:focus {
  outline: none;
  background-color: #8e44ad;
  color: white;
}

/* direccion, ciudad */
#cto_frm fieldset.ciudad input[name="provincia"],
#cto_frm fieldset.ciudad select[name="ciudad"],
#cto_frm fieldset.ciudad input[name="codigo"] {
  display: inline;
}
#cto_frm fieldset.ciudad input[name="provincia"] {
  width: 52%;
}

#cto_frm fieldset.ciudad select[name="provincia"]:required:invalid {
  color: grey;
  font-size: small;
}

#cto_frm fieldset.ciudad select[name="ciudad"],
#cto_frm fieldset.ciudad input[name="codigo"] {
  width: 20%;
}
#cto_frm fieldset.ciudad input[name="provincia"],
#cto_frm fieldset.ciudad select[name="ciudad"] {
  margin-right: 3%;
}

/*Estilo del mapa */
.mapa {
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mapa-responsive {
  overflow: hidden;
  padding-bottom: 35%;
  position: relative;
  height: 0;
}

.mapa-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/*Estilos del menu hamburguesa*/

.nav_checkbox {
  display: none;
}

.nav_toggle {
  cursor: pointer;
  margin-left: 1rem;
  position: absolute;
  left: 35px;
  top: 225px;
}

.nav_toggle .close {
  display: none;
}

.nav_toggle .close,
.nav_toggle .menu {
  margin-top: 0.3rem;
}

.nav_menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  background: #dda0dd;
}

.nav_menu li {
  display: none;
  list-style-type: none;
  flex: 3;
  padding: 2px;
}

.nav_menu a {
  color: black;
  font-weight: bold;
  letter-spacing: 2px;
  text-decoration: none;
  background: #dda0dd;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.nav_menu a:hover {
  color: white;
  background: #8e44ad;
}

#nav_checkbox:checked ~ ul.nav_menu li {
  display: block;
}

#nav_checkbox:checked ~ label.nav_toggle .close {
  display: block;
}

#nav_checkbox:checked ~ label.nav_toggle .menu {
  display: none;
}

/* Clientes , donde se consume la api */

.contenedor-clientes {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.cliente {
  text-align: center;
  /* width: 21.875rem; */
  width: calc(33.33% - 20px);
  padding: 1rem;
}

.cliente-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
}
.nombre-cliente {
  text-align: center;
  margin-bottom: 0.5rem;
}
.comentario-cliente {
  text-align: center;
}

.cliente-pic {
  width: 65%;
  height: auto;
  border-radius: 50%;
  border: 5px solid #a071a8;
}

/*Estilos Adaptables */

@media only screen and (max-width: 629px) {
  .producto {
    flex-basis: calc(100% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .feature:nth-child(odd) {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .feature:nth-child(even) {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .item-f:nth-child(1) {
    align-self: center;
  }

  .Empleado:nth-child(odd) {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .Empleado:nth-child(even) {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .item-e:nth-child(1) {
    align-self: center;
  }

  .contenedor-clientes {
    flex-wrap: wrap;
  }

  .cliente {
    width: calc(75% - 20px);
  }
}

@media only screen and (min-width: 630px) and (max-width: 768px) {
  .producto {
    flex-basis: calc(50% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .feature:nth-child(odd) {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .feature:nth-child(even) {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .item-f:nth-child(1) {
    align-self: center;
  }

  .Empleado:nth-child(odd) {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .Empleado:nth-child(even) {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .item-e:nth-child(1) {
    align-self: center;
  }

  .contenedor-clientes {
    flex-wrap: wrap;
  }

  .cliente {
    width: calc(40% - 20px);
  }
}

@media only screen and (min-width: 769px) {
  .producto {
    flex-basis: calc(33.33% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .feature:nth-child(odd) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .feature:nth-child(even) {
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }
  .item-f:nth-child(1) {
    align-self: center;
  }

  .Empleado:nth-child(odd) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .Empleado:nth-child(even) {
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }

  .item-e:nth-child(1) {
    align-self: center;
  }
  .contenedor-clientes {
    flex-wrap: nowrap;
  }
}

@media only screen and (min-width: 629px) {
  .nav_toggle {
    display: none;
  }

  .nav_menu {
    flex-direction: row;
    background: white;
  }

  .nav_menu li {
    display: block;
  }
}
